/* global */
html {
  background: rgb(238, 238, 238);
}

p {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
}
/* header */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 10px;
}

.nav__icon {
  width: 30px;
  height: 30px;
  padding: 12px;
  cursor: pointer;
}

.nav__mobile-icon {
  display: none;
}

.nav__right-wrapper {
  display: flex;
}

.nav__button {
  width: 120px;
  border: 2px solid rgba(35, 104, 252, 0.644);
  margin: 0 25px;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
}

.nav__paragraph {
  font-size: 22px;
  letter-spacing: 0.4px;
  padding: 10px;
}

@media (max-width: 600px) {
  .nav__right-wrapper {
    display: none;
  }

  .nav__mobile-icon {
    display: block;
    font-size: 35px;
    padding: 0 10px;
    cursor: pointer;
  }
}

/* Main Layout */
.main {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: auto;
  gap: 20px;
  margin: 40px 40px 0 100px;
}

.about {
  grid-column: span 4;
  background: white;
}

.portrait {
  grid-column: span 2;
  background: white;
}

.gallery {
  grid-column: span 4;
  background: white;
}

.services {
  grid-column: span 2;
  background: white;
}

.reviews {
  grid-column: span 4;
  background: white;
}

@media (max-width: 600px) {
  .main {
    margin: 0;
  }
  .portrait {
    grid-column: 1 / -1;
    grid-row: 1;
  }

  .about {
    grid-column: 1 / -1;
    grid-row: 2;
  }

  .services {
    grid-column: 1 / -1;
    grid-row: 3;
  }

  .gallery {
    grid-column: 1 / -1;
    grid-row: 3;
  }

  .reviews {
    grid-column: 1 / -1;
  }
}

/* Main */
